/*CSS Document*/
li{display: inline;}
/* mouse over link */
a:hover {color: brown;}
html{background-color: rgb(251, 251, 251)}
h2{margin-left: 30px;}
h3{margin-left: 30px;}
table{border: 1px solid;color: black;}
p{text-align: center;font-family: roboto;}
#paragraph{font-size:large;text-align: left;}
.navbar{background-color: brown;}
.hh{font-size: 60px;text-decoration: underline;}
body{font-family: 'Roboto', sans-serif;}
.ss{background-color: rgb(104, 1, 22);text-align: center;font-size: xx-large;}